
<h2><center>Account has been created successfully..</center></h2>
<br>
<br>
<div class="container" align=" center">
    <a href="/" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Continue to Smart Kart</a>
</div>